<header>
  <img src="../assets/Logo.PNG" alt="Mindful Life logo">
  <h2>Mindful Life</h2>
</header>
<main>
  <section>
    <activities-list [activities]="activitiesList" (selectedActivityEvent)="updateSelectedActivity($event)" (emptyActivityEvent)="emptySelectedActivity()"></activities-list>
  </section>
  <article id="details">
    <ng-container *ngIf="selectedActivity">
      <p [ngClass]="{bold: selectedActivity}">{{selectedActivity?.name}}</p>
      <p>{{selectedActivity?.city}}, {{selectedActivity?.county}}</p>
      <p>
        <a href="{{selectedActivity?.website}}" target="_Blank">Website</a>
      </p>
      <img [src]="selectedActivity?.photoUrl">
    </ng-container>
  </article>
</main>
