$primary-color: #E27D60;
$secondary-color: #41b3a3;

header {
    width: 100vw;
    font-weight: 100;
    color: $secondary-color;
    font-style: italic;
    border-bottom: $primary-color .2px double;
   padding: 5px 30px;

    img {
        height: 100px; 
        margin-right: 6px;
    }

    img, h2 {
        display: inline;
    }
}

main {
     margin: 5vh 20vw;
     width: 60vw;
     color: $secondary-color;
     display: flex;
     justify-content:space-between;
}